services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      secrets:
        - github_credentials
    container_name: jsonbin-config-manager
    ports:
      - "3000:3000"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - .env
    volumes:
      - jsonbin-config-manager-data:/data
    restart: unless-stopped

secrets:
  github_credentials:
    file: .github_credentials.env

volumes:
  jsonbin-config-manager-data:
