name: Codecov

on: [pull_request]

jobs:
  codecov:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          server-id: github-java-jsonbin
          server-username: GITHUB_ACTOR
          server-password: GITHUB_TOKEN

      - name: Install dependencies
        run: mvn install -Pgithub -DskipTests=true -Dmaven.javadoc.skip=true -B -V

      - name: Run tests and collect coverage
        run: mvn -B test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: OdunlamiZO/jsonbin-config-manager
